.container {
  max-width: 980px;
}

body {
  background: #ffffff;
}

.shopping-cart-icon {
  font-size: 20px;
}

.header-title {
  font-size: 14px;
  font-weight: bold;
  color: #757575;
  border-bottom: 2px solid #b0becc;
  line-height: 32px;
}

.no-pads {
  padding: 0;
}

.product-list {
  margin-top: 26px;
}

.product-container {
  width: 220px;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  transition: all ease 500ms;
  border: 2px solid #fff;
  padding-top: 12px;
}

.product-container:hover {
  border: 2px solid #ccc;
}

.product-image {
  height: 200px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  height: 70px;
  color: #3e3e3e;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info p {
  margin: 0;
}

.product-info .product-name {
  font-size: 17px;
}

.product-info .product-price {
  color: #cd3838;
}

.product-details img {
  width: 280px;
  height: 400px;
  object-fit: contain;
}

.product-details h2 {
  font-size: 18px;

}

.product-details table {
  margin-top: 28px;
}

.product-details table td {
  padding-bottom: 8px;
}

.product-details table tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding-right: 12px;
  color: #6b6b6b;
}
.product-details .add-to-cart {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 24px;
}

.product-details .add-to-cart button {
  padding: 0;
  background: #2c7091;
  color: #ffffff;
  width: 180px;
  display: flex;
}

.product-details .add-to-cart button i {
  font-size: 22px;
  padding: 10px;
  background-color: #3d3d3d;
}

.product-details .add-to-cart button:active i {
  color: #ffffff !important;
}

.product-details .add-to-cart button span {
  font-weight: 600;
  line-height: 43px;
  width: 100%;
}

.info-box{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  left: 16px;
  bottom: -12px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms, ease 500ms, opacity 500ms;

}

.info-box.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, ease 500ms, opacity 500ms;
}

.info-box.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s, ease 500ms, opacity 500ms;
}

.info-box .info-content {
  width: 180px;
  background: #000;
  color: #fff;
  position: absolute;
  bottom: -30px;
  left: -80px;
  text-align: center;
  border-radius: 12px;
}

.cart-no {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 0px 4px;
  line-height: 16px;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 0;
}

.cart-container {

}

.cart-item {
  display: flex;
  flex-direction: row;
  height: 180px;
}

.cart-item img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-item .product-details {
  margin-left: 24px;
  flex-grow: 1;
}

.cart-item .product-details p {
  margin: 0;
}

.cart-item .product-details .description {
  max-width: 340px;
  /*background-color: #ccc;*/
  height: 60px;
  overflow: hidden;
}

.cart-item .product-quantity {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #ccc;*/
}

.cart-item .product-quantity button {
  width: 24px;
  height: 24px;
  padding: 0;
}

.cart-item .product-quantity input {
  height: 24px;
  width: 45px;
  text-align: center;
}

.total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-container button {
  align-self: center;
}

#txtTotal {
  font-weight: 600;
}

.btn.checkout {
  padding: 0;
  background: #2c7091;
  color: #ffffff;
  width: 260px;
  display: flex;
}

.btn.checkout i {
  font-size: 22px;
  padding: 10px;
  background-color: #e47f08;
}

.btn.checkout span {
  font-weight: 600;
  line-height: 42px;
  width: 100%;
}
